<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
	<div class="container wrapper">
		{{ partial "head.html" . }}

		{{ with .Content }}{{ . }}{{ end }}

		<div id="my_bio" style="overflow:hidden">

			<div id="bio_headshot" class="headshot_wrapper">
				<img src="../img/cjl_inside_nameblur.png" class="headshot"/>
			</div>

			<div id="bio_text">

				<p>Hi, I'm Sachita! I'm a 5th-year PhD candidate at Northwestern University, advised by <a href="http://www.nickdiakopoulos.com">Dr. Nick Diakopoulos</a>. My research lies at the intersection of <b>HCI, AI, and science communication</b>, exploring how sociotechnical systems for news production can support the practice of science journalism, through upholding users' personal and professional values.</p>

				<p>Specifically, I focus on:
				1) designing and evaluating AI-infused systems to support journalists' processes of <b>information discovery, sense-making, and writing</b>, and 2) examining technology's broader impacts on the <b>news and information ecosystem</b>.</p>

				<p>I've presented my work at HCI and AI conferences (CSCW, CHI, DIS, FAccT, IC2S2) and journalism events (Big Local News, SRCCON). I also <a href="https://nishalsach.github.io/posts">blog</a> about my work here (on and off).</p>


				<p>You can email me at: <span style="font-family:Courier">nishal [at] u.northwestern.edu</span></p>
					
				<!-- <button type="button" class="button1" onclick="window.open('https://nishalsach.github.io/pdfs/2022-sachita-cv.pdf');"> C.V. </button> -->

				<button type="button" class="button1" onclick="window.open('https://github.com/nishalsach');"> GitHub </button>

				<button type="button" class="button1" onclick="window.open('https://scholar.google.com/citations?user=JgsaeQmLjKcC&hl=en&oi=ao');"> Google Scholar </button>

				<button type="button" class="button1" onclick="window.open('https://hci.social/@sachitanishal');"> Mastodon </button>

				<!-- <button type="button" class="button1" onclick="window.open('https://twitter.com/nishalsach');"> Twitter </button> -->

			</div>
		</div>

		<div class="recent-posts section">
			<h3>
				News
			</h3>

			<div class="news_item" id="news1">
				<b>April 2025</b>: I'll be co-organizing the workshop on <a href="https://nishalsach.github.io/pdfs/2025-news-futures-chi.pdf">News Futures</a> at CHI 2025 in Yokohama, Japan! We'll explore the design of sociotechnical systems for news production and consumption, and hopefully develop new research ideas for the field going ahead!
			</div>
			
			<div class="news_item" id="news2">
				<b>April 2025</b>: Our short paper titled <a href="/pdfs/2025-toolsforthought-science.pdf">Designing for Agency in LLM-Infused Writing Support Tools for Science Journalism</a> has been accepted to the workshop on Tools for Thought at CHI 2025! This work comes out of my internship at MSR FATE last summer; stay tuned for more on this over the next year.
			</div>
			
			<div class="news_item" id="news3">
				<b>March 2025</b>: I'm officially ABD, I passed my prospectus exam exploring the design of sociotechnical systems for creativity support in science journalism. Now on to the dissertation!
			</div>
			<!-- <div class="news_item" id="news2">
				<b>July 2024</b>: My first news publication! Nieman Lab republished <a href="https://www.niemanlab.org/2024/07/making-sense-of-science-using-llms-to-help-reporters-understand-complex-research/">my article</a> on our prototype tool that uses GPT-4 and retrieval-augmented generation (RAG) to simplify scientific jargon for journalists. Thoughts welcome!
			</div> -->
			<!-- <div class="news_item" id="news1">
				<b>June 2024</b>: Thrilled to begin my internship with <a href="https://www.microsoft.com/en-us/research/theme/fate/">Microsoft Research's FATE group</a> in NYC! Under the mentorship of <a href="https://www.jennwv.com">Dr. Jenn Wortman Vaughan</a>, I'll be exploring how to enhance control and transparency in generative AI tools for journalists, to support their professional goals and values.
			</div> -->
			<!-- <div class="news_item" id="news5">
				<b>May 2024</b>: I delivered a lightning talk about different dimensions along which we need to evaluate AI systems in the newsroom, at <a href="https://www.aspendigital.org"></a>Aspen Digital's</a> event on AI and News hosted by the Ford Foundation! You can find my slides <a href="https://nishalsach.github.io/pdfs/2024-aspen-talk.pdf">here</a>, and I'd love to know what you think!
			</div>
			<div class="news_item" id="news4">
				<b>April 2024</b>: Our CSCW paper on identifying shifts in practices with AI tools in the newsroom is finally out in open-access! Here's the <a href="https://dl.acm.org/doi/10.1145/3637419">link</a> -- please tell us what you think!
			</div> -->
			<!-- <div class="news_item" id="news3">
				<b>April 2024</b>: I will be at CHI 2024 at the <a href="https://www.hcilab.org/EvalAI/">workshop on evaluating interactive AI</a>. Excited to talk about our framework to evaluate AI in the domain of journalism. Here's our <a href="https://arxiv.org/abs/2403.17911">preprint</a> and <a href="https://generative-ai-newsroom.com/blueprints-for-evaluating-ai-in-journalism-e702c9e8c4f3">a short blogpost</a> about it!
			</div> -->
			<!-- <div class="news_item" id="news1">
				<b>December 2023</b>: Submitted a larger lit review on the values and design implications that are crucial for designing algorithmic systems in support of journalism. Exciting times to be working on this kind of stuff!
			</div> -->
			<!-- <div class="news_item" id="news2">
				<b>October 2023</b>: Just had a paper accepted to CSCW 2024! We modelled, designed and evaluated an AI-infused interface to support news discovery with a user study. Here's <a href="https://arxiv.org/abs/2311.06864"> the preprint</a>, and here's a <a href='https://generative-ai-newsroom.com/getting-the-science-and-the-scoop-with-news-angles-from-gpt-3-b1b4fcd7f6b1'>blog post discussing how I tuned and evaluated GPT3</a> for the project.
			</div> -->
			<!-- <div class="news_item" id="news3">
				<b>October 2023</b>: I will be at <a href="https://2023.srccon.org">SRCCON in Minneapolis on Oct 17-18 </a> to talk about how reporters can realistically and cautiously use generative models like LLMs in their workflows! Come to <a href="https://2023.srccon.org/schedule/#_session-boss-ai-what-do-i-do">my session </a> :)
			</div> -->
			<!-- <div class="news_item" id="news1">
				<b>October 2023</b>: I will be attending the wokshop on <a href="https://sites.google.com/view/cca-at-cscw/home"> Surfacing Structural Barriers to Community-Collaborative Approaches in HCI </a> at CSCW in Minneapolis on Oct 15. I'll also be at CSCW all week and would love to say hi!
			</div> -->
			<!-- <div class="news_item" id="news3">
				<b>April 2023</b>: I presented <a href="https://nishalsach.github.io/pdfs/2023-genaihci-chi.pdf"> our short paper on the applications and implications of generative AI for newsrooms</a>, at the CHI 2023 Workshop on Generative AI and HCI. 
			</div> -->

			<!-- <div class="news_item" id="news2">
				<b>April 2023</b>: My co-author Mandi Cai presented our work <a href="https://nishalsach.github.io/pdfs/2023-ai-literacy-chi.pdf"> on the pathways to AI literacy for journalists</a>, at the CHI 2023 Workshop on AI Literacy.
			</div> -->

			<!-- <div class="news_item" id="news1">
				<b>March 2023</b>: I got accepted to the FAccT 2023 Doctoral Consortium which will be held in Chicago this June! Do get in touch if you'd like to hang out!
			</div>

			<div class="news_item" id="news0">
				<b>March 2023</b>: I visited Stanford University to deliver a talk on <a href="https://nishalsach.github.io/pdfs/2023-big_local_news_cnd.pdf"> broader takeaways from our lab's work in AI and HCI to support journalists in the newsroom</a>, at the Story Discovery at Scale conference hosted by the <a href="https://biglocalnews.org/content/about/">Big Local News initiative</a>.
			</div> -->

			<!-- <div class="news_item" id="news2">
				<b>Jul 2022</b>: Just presented a historical analysis of tropes and novelty in American cinema at IC2S2. <a href="https://nishalsach.github.io/pdfs/2022-tropes-poster.pdf">Here's the poster!</a>
			</div> -->

			<!-- <div class="news_item" id="news1">
				<b>Nov 2022</b>: I gave a CSCW presentation for our paper on building predictive models of "newsworthiness" of research articles to help journalists. <a href="https://nishalsach.github.io/pdfs/2022-newsworthiness.pdf">Read it here!</a>
			</div>
			 -->

		</div>

		<div class="recent-posts section">
			<h3>
				Recent Blog Posts
			</h3>
			<div class="posts">
				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				{{ range $paginator.Pages }}
				<div class="post">
					<div class="meta">{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</div>
					<a class="title" href="{{ .RelPermalink }}">{{.Title}}</a> &mdash;
					<span class="description">
						{{ if isset .Params "description" }}
						{{ .Description }}
						{{ else }}
						{{ .Summary }}&hellip;
						{{ end }}
					</span>
				</div>
				{{ end }}
				<!-- THE PAGINATOR WAS PART OF THE ORIGINAL TEMPLATE, BUT I REMOVED IT BECAUSE I DON'T WANT TO HAVE TO CLICK THROUGH PAGES TO SEE MY BLOG POSTS -->
				<!-- {{ template "partials/paginator.html" . }} --> 
			</div>
		</div>



	</div>
	{{ partial "footer.html" . }}
</body>
</html>