<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
	<div class="container wrapper">
		{{ partial "head.html" . }}

		{{ with .Content }}{{ . }}{{ end }}

		<div id="my_bio" style="overflow:hidden">

			<div id="bio_headshot" class="headshot_wrapper">
				<img src="../img/mussoorie3.png" class="headshot"/>
			</div>
			
			<div id="bio_text">
				<!-- <p> Hi, I'm Sachita, and I design human-centered recommender systems to support decision-making for journalists and news audiences. I also study the impacts of these systems on the broader news ecosystem! </p> -->
				<p> Hi, I'm Sachita, and I build interactive AI systems to augment human decision-making. I'm a 3rd-year PhD student @ Northwestern Univeristy, in the area of <a href="https://tsb.northwestern.edu/">Computer Science + Communication Studies</a>. I'm advised by <a href="http://www.nickdiakopoulos.com">Dr. Nick Diakopoulos</a>.</p>
					
				<!-- <p><b>I'm looking for research internships for Summer 2023! Please get in touch if my work sounds relevant/interesting/fun! I'd love to chat!</b></p> -->

				<p>I work at the intersection of <b>Human-computer Interaction (HCI), Natural Language Processing, and Intelligent User Interfaces</b>. I build <a href="https://nishalsach.github.io/pdfs/2022-newsworthiness.pdf">tools to help science journalists discover + understand newsworthy stories from the latest scientific research</a>, to support decision-making about what makes the news.
					
					<!-- This task is challenging because large amounts of science articles published in journals and conferences can be difficult + time-consuming for journalists to sift through.  -->
					<!-- Journalists also have varying areas of interest and levels of scientific expertise that we must account for.</p> -->
					
				<p>I approach this work from a <b>human-centered perspective</b>. It also excites me to <b>conduct mixed-methods work</b> -- constructing surveys for problem-finding, building predictive models, designing user interfaces, and conducting usability studies. </p>
			
					<!-- We involve end-users in the design process early on and focus on improving people's experiences.  -->

				<!-- <p> My projects are situated at the crossroads of HCI, Machine Learning, and Communication Studies. Ultimately, I want to design and study algorithmic tools that priortize human values, user autonomy, and transparency. </p> -->

				<p>Here's my email: <a href="mailto:nishal@u.northwestern.edu">nishal@u.northwestern.edu </a><br>
				This is my Google Scholar page: <a href="https://scholar.google.com/citations?user=JgsaeQmLjKcC&hl=en&oi=ao"> Sachita's Google Scholar </a> </p>

			</div>
		</div>

		<div class="recent-posts section">
			<h3>
				News and Updates
			</h3>

			<div class="news_item" id="news1">
				<b>Nov 2022</b>: Will give a CSCW presentation for our paper on building predictive models of "newsworthiness" of research articles to help journalists. <a href="https://nishalsach.github.io/pdfs/2022-newsworthiness.pdf">Read it here!</a>
			</div>

			<div class="news_item" id="news3">
				<b>Oct 2022</b>: I presented a poster about building recommender systems for discovering leads and stories in the newsroom, at the Lambert Conference on HCI at Northwestern University. <a href="https://nishalsach.github.io/pdfs/2022-newsworthiness-poster.pdf">Here's my poster!</a>
			</div>
			
			<div class="news_item" id="news2">
				<b>Jul 2022</b>: Just presented a historical analysis of tropes and novelty in American cinema at IC2S2. <a href="https://nishalsach.github.io/pdfs/2022-tropes-poster.pdf">Here's the poster!</a>
			</div>


		</div>

		<div class="recent-posts section">
			<h3>
				Recent Blog Posts
			</h3>
			<div class="posts">
				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				{{ range $paginator.Pages }}
				<div class="post">
					<div class="meta">{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</div>
					<a class="title" href="{{ .RelPermalink }}">{{.Title}}</a> &mdash;
					<span class="description">
						{{ if isset .Params "description" }}
						{{ .Description }}
						{{ else }}
						{{ .Summary }}&hellip;
						{{ end }}
					</span>
				</div>
				{{ end }}
				<!-- THE PAGINATOR WAS PART OF THE ORIGINAL TEMPLATE, BUT I REMOVED IT BECAUSE I DON'T WANT TO HAVE TO CLICK THROUGH PAGES TO SEE MY BLOG POSTS -->
				<!-- {{ template "partials/paginator.html" . }} --> 
			</div>
		</div>



	</div>
	{{ partial "footer.html" . }}
</body>
</html>