<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
	<div class="container wrapper">
		{{ partial "head.html" . }}

		{{ with .Content }}{{ . }}{{ end }}

		<div id="my_bio" style="overflow:hidden">

			<div id="bio_headshot" class="headshot_wrapper">
				<img src="../img/mussoorie3.png" class="headshot"/>
			</div>
			
			<div id="bio_text">
				<p> Hi, I'm Sachita, and I study how recommender systems shape the news ecosystem! Welcome to my homepage on the interwebz! </p>
					
				<p><b><u>I'm currently looking for research internships for Summer 2023!</u></b></p>

				<p>I'm a 3rd-year PhD student at Northwestern University's program in <a href="https://tsb.northwestern.edu/">Technology and Social Behaviour</a>. I work with <a href="http://www.nickdiakopoulos.com">Dr. Nick Diakopoulos</a> in the <a href="https://cj-lab.org">Computational Journalism Lab</a>. </p>
			
				<p>In my work, I design recommender systems to assist journalists and newsrooms with different tasks, and I study their impacts on the news that is produced. My projects are situated at the crossroads of HCI, Machine Learning, and Communication Studies. Ultimately, I want to design and study algorithmic tools that priortize human values, user autonomy, and transparency. </p>

				
				Here's <a href="https://twitter.com/shouldhaveaduck/status/1511151693248942081?s=20&t=fs1lr4-eA1nKRhFFvhAIcA">a duck video I really enjoy</a>, and here's my <a href="https://scholar.google.com/citations?user=JgsaeQmLjKcC&hl=en&oi=ao"> Google Scholar page </a> :)

				</p>
			</div>

		</div>


		<div class="recent-posts section">
			<h1 class="section-header">
				News and Updates
			</h1>

			<div class="news_item" id="news1">
				<b>Sep 2022</b>: Our paper on building predictive models of "newsworthiness" of research articles to help journalists just came out in the CSCW 2022 proceedings. <a href="https://doi.org/10.1145/3555542">Read it here!</a>
			</div>
			
			<div class="news_item" id="news2">
				<b>Jul 2022</b>: Just presented a historical analysis of tropes and novelty in American cinema at IC2S2. <a href="https://nishalsach.github.io/pdfs/2022-tropes-poster.pdf">Here's the poster!</a>
			</div>

			<div class="news_item" id="news3">
				<b>Jun 2022</b>: I gave a short talk about building recommender systems for lead discovery in the newsroom at C+J in Columbia. <a href="https://nishalsach.github.io/pdfs/2022-ai-driven-lead.pdf">Here are my slides for the talk!</a>
			</div>

		</div>

		<div class="recent-posts section">
			<h2 class="section-header">
				Recent Blog Posts
			</h2>
			<div class="posts">
				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				{{ range $paginator.Pages }}
				<div class="post">
					<div class="meta">{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</div>
					<a class="title" href="{{ .RelPermalink }}">{{.Title}}</a> &mdash;
					<span class="description">
						{{ if isset .Params "description" }}
						{{ .Description }}
						{{ else }}
						{{ .Summary }}&hellip;
						{{ end }}
					</span>
				</div>
				{{ end }}
				{{ template "partials/paginator.html" . }}
			</div>
		</div>



	</div>
	{{ partial "footer.html" . }}
</body>
</html>